/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .container {
        width: 100%;
    }
    header {
        .container {
            width: 100%;
            top: 0;
            left: 0;
            margin-left: 0;
        }
        nav {
            display: none;
        }
        .menu-icon {
            display: block;
        }        
    }
    .logo {
        left: 20px;
    }
    .callouts {
        padding: 0 @gutter/2 0 @gutter/2;
    }
    .text-and-video,
    .faq,
    .testimonials,
    .links,
    .events,
    .news {
        .container {
            padding: @gutter*2 @gutter/2 @gutter*2 @gutter/2;
        }
    }
    .map {
        .left {
            padding-left: @gutter;
        }
    }
    .search {
        .container {
            padding-right: @gutter/2;
        }
    }
}

@media only screen and (max-width: 750px) {
    .faq,
    .links,
    .news,
    .events {
        li {
            display: block;
            clear: both;
            float: none;
            width: 100%;
        }
    }
    .events {
        li {
            margin-bottom: @gutter/2;
        }
    }
    .map {
        .left,
        .right {
            width: 100%;
            display: block;
            clear: both;
            float: none;
        }
    }
    .text-and-video {
        .video {
            padding-top: @gutter;
        }
        .left,
        .right {
            display: block;
            float: none;
            clear: both;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 540px) {
    .callouts {
        .left,
        .right {
            width: 100%;
            clear: both;
            float: none;
            bottom: 0;
            &:hover {
                bottom: 0;
            }
        }
    }
    .polaroids {
        li {
            width: 70%;
            margin: 0 auto;
            clear: both;
            float: none;
        }
    }
    .column-about,
    .column-contact,
    .column-social {
        width: 100%;
        clear: both;
        float: none;
        padding: @gutter/2;
        p.copyright {
            position: relative;
            clear: both;
            top: 0;
            left: 0;
        }        
    }
    .search {
        .container {
            padding-left: @gutter/2;
        }
        .left { display: none; }
        .right {
            clear: both;
            width: 100%;
            float: none;
        }
    }
}
